*
    margin: 0
    padding: 0
@font-face 
    font-family: 'TT Lakes'
    src: url('../fonts/TTLakes-Light.ttf')
    font-weight: 300
@font-face 
    font-family: 'TT Lakes'
    src: url('../fonts/TTLakes-Medium.ttf')
    font-weight: 500
@font-face 
    font-family: 'TT Lakes'
    src: url('../fonts/TTLakes-Bold.ttf')
    font-weight: 700


body
    overflow-x: hidden
.container
    max-width: 320px
    margin: 0 auto
.pink-circle
    width: 40px
    height: 40px
    background: #FF3E79
    border-radius: 20px
.pink-circle:hover
    filter: grayscale(20%)
    cursor: pointer
    transition: 0.5s
.services-button
    height: 40px
    padding: 0 10px
    background: #ffffff00
    border: none
    font-family: 'TT Lakes'
    font-size: 16px
    line-height: 24px
    letter-spacing: -0.2px
    color: #7E7E82
    font-weight: 500
.light-header
    color: #7E7E82
    font-family: TT Lakes
    font-size: 16px
    font-style: normal
    font-weight: 400
    line-height: 24px
    letter-spacing: -0.2px
    text-transform: uppercase
.active
    border: 2px solid #B8FFEC
    border-radius: 6px
    background: #FFFFFF
.big-text
    font-family: 'TT Lakes'
    letter-spacing: 0.2px
    color: #1B1C21
    font-weight: 500
.button-with-red-arrow
    width: 40px
    height: 40px
    border: 2px solid #FF3E79
    background: #ffffff00
    border-radius: 90px
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    &__arrow1
        width: 8px
        height: 2px
        background: #FF3E79
        transform: rotate(45deg)
        margin-bottom: 3px
        border-radius: 90px
    &__arrow2
        width: 8px
        height: 2px
        background: #FF3E79
        transform: rotate(-45deg)
        border-radius: 90px
.button-with-red-arrow:hover
    filter: grayscale(20%)
    cursor: pointer
    &__arrow1
        filter: grayscale(20%)
    &__arrow2
        filter: grayscale(20%)

.flexdisplay
    display: flex !important
.hidden
    visibility: hidden
.displaynone
    display: none
.absolute-burger
    position: absolute
    top: 0.1px
    left: 10px
.more
    display: flex
    justify-content: flex-start
    &__img
        width: 24px
        height: 24px
        display: flex
        align-items: center
        justify-content: center
    &__text
        font-family: 'TT Lakes'
        font-weight: 500
        font-size: 16px
        line-height: 24px
        letter-spacing: -0.2px
        color: #1B1C21


.menu
    box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.20), -2px 0px 4px 0px rgba(69, 79, 126, 0.02)
    display: none
    width: 320px
    height: 1024px
    left: 0px
    position: absolute
    z-index: 2
    background: #FFFFFF
    &_active
        display: block
    &__search
        position: relative
        top: 23px
        left: 256px
        display: flex
        align-items: center
        justify-content: center
    &__elements
        width: 222px
        height: 420px
        position: relative
        top: 53px
        display: flex
        flex-direction: column
        justify-content: space-between
    &__element
        display: flex
        align-items: center
        height: 32px
        margin-left: 24px
        font-family: 'TT Lakes'
        font-weight: 500
        font-size: 16px
        line-height: 24px
        letter-spacing: -0.2px
        color: #1B1C21
    &__element:hover
        color: #7E7E82
        cursor: pointer
        &_active
            color: #7E7E82
            margin-left: 0
    &__blue-line-before-element
        border-radius: 0 90px 90px 0
        height: 32px
        width: 4px
        background: #41F6D7
        margin-right: 20px
    &__navigation
        display: flex
        flex-direction: column
        justify-content: space-between
        position: relative
        top: 268px
        left: 24px
        width: 196px
        height: 124px
        p
            font-family: 'TT Lakes'
            font-weight: 500
            font-size: 16px
            line-height: 24px
            letter-spacing: -0.2px
            color: #1B1C21
        h4
            font-family: 'TT Lakes'
            font-weight: 700
            font-size: 24px
            line-height: 32px
            letter-spacing: -0.6px
            color: #1B1C21
    &__nav-butons
        width: 152px
        height: 40px
        display: flex
        justify-content: space-between
        div
            display: flex
            justify-content: center
            align-items: center
    &__language
        position: relative
        top: 328px
        left: 24px
        width: 87px
        height: 24px
        display: flex
        justify-content: space-between
        p
            font-family: 'TT Lakes'
            font-weight: 500
            font-size: 16px
            line-height: 24px
            letter-spacing: -0.2px
            color: #1B1C21
        p:hover
            color: #7E7E82


header
    display: flex
    justify-content: center
    width: 100%
    .head
        z-index: 3
        position: relative
        display: flex
        align-items: center
        justify-content: space-around
        width: 100%
        height: 88px
        border-bottom: 1px solid #D9FFF5
        &__line-in-nav
            display: none
        &__burger
            display: flex
            justify-content: center
            align-items: center
            div
                display: flex
                flex-direction: column
                justify-content: space-between
                align-items: flex-start
                height: 16px
                width: 18px
                div
                    height: 2px
                    width: 10px
                    background: #FFFFFF
                    border-radius: 1px
                div:first-child
                    width: 18px
                    transition: 0.5s
                div:last-child
                    width: 14px
                    transition: 0.5s
        &__burger-line-change-1
            position: relative
            transform: rotate(45deg)
            top: 7px
            transition: 0.5s
        &__burger-line-change-2
            visibility: hidden
        &__burger-line-change-3
            position: relative
            transform: rotate(-45deg)
            padding-left: 4px
            bottom: 7px
            transition: 0.5s
        &__logo
            height: 50.81px
            width: 96.55px
        &__navigation
            display: flex
            align-items: center
            justify-content: space-between
            height: 40px
            width: 118px
            div
                display: flex
                align-items: center
                justify-content: center
            div:nth-child(1)
                display: none
            div:nth-child(2)
                display: none
            div:nth-child(3)
                display: none
        &__line-in-nav
            height: 32px
            width: 2px
            background: #EAEAEA
            border-radius: 1px


.section1-background
    background: #F8F8F8
    width: 100%
    position: relative
    border-bottom: 1px solid #D9FFF5
.services
    height: 498px
    padding-top: 24px
    &__h1
        display: flex
        width: 100%
        height: 40px
        margin-bottom: 88px
        h1
            font-family: 'TT Lakes' 
            font-size: 28px
            line-height: 40px
            letter-spacing: -0.6px
            font-weight: 700
    &__blue-line-before-h1
        border-radius: 0 90px 90px 0
        height: 40px
        width: 4px
        background: #41F6D7
        margin-right: 16px
    &__navigation-top
        display: none
    &__content
        width: 100%
        height: 322px
        margin: 0 auto
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: center
    &__text-and-more
        width: 100%
        height: 130px
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: center
    &__text
        display: block
        width: 288px
        height: 90px
        font-size: 14px
        line-height: 18px
    &__read-more
        width: 288px
    &__photo
        width: 320px
        height: 176px


.brands-title-background
    background: linear-gradient(270deg, #F8F8F8 0%, #FFF 100%)
    width: 100%
    position: relative
    .brands-title
        height: 80px
        width: 288px
        margin: 0 auto
        display: flex
        justify-content: center
        align-items: center

.swiper
    background: #F8F8F8
    width: 100%
    .swiper-container
        height: 140px
        display: flex
        flex-direction: column
        min-width: 0
        transition: all 0.5s ease
        .swiper-wrapper
            width: 2320px
            height: 72px
            display: flex
            margin-top: 16px
            margin-bottom: 16px
            transition: all 0.5s ease
            .swiper-slide
                background: #FFF
                width: 240px
                height: 72px
                border-radius: 6px
                border: 1px solid #EAEAEA
                box-sizing: border-box
                padding: 0 16px
                display: flex
                justify-content: space-between
                align-items: center
            .swiper-slide:nth-child(10)
                display: none
            .swiper-slide:nth-child(11)
                display: none
        .swiper-pagination
            .swiper-pagination-bullet
                background: #DDDDDD
                width: 12px
                height: 12px
                border-radius: 90px
                cursor: pointer
                transition: all 0.5s ease
            .swiper-pagination-bullet:hover
                background: #B5B6BC
        .swiper-readmore
            transition: all 0.5s ease
            &__text-after
                display: none
                font-family: 'TT Lakes'
                font-weight: 500
                font-size: 16px
                line-height: 24px
                letter-spacing: -0.2px
                color: #1B1C21
        .swiper-readmore:hover
            cursor: pointer
            .more__img
                filter: grayscale(30%)
                transition: all 0.5s ease
.swiper-сontainer-height-more
    height: 354px !important
.swiper-wrapper-height-more
    height: 232px !important
.imgtransform
    transform: rotate(180deg)


.services-navigation
    position: absolute
    top: 176px
    margin-left: 10%
    display: flex
    justify-content: space-between
    width: 1158px
    height: 40px


@media (min-width: 768px) and (max-width: 1119px)
    .container
        max-width: 768px

    header
        .head
            justify-content: center
            &__burger
                margin-left: 24px
                margin-right: 20px
            &__line-in-nav
                display: block
                margin-right: 20px
            &__logo
                margin-right: 250px
            &__navigation
                width: 249px
                div:nth-child(1)
                    display: flex
                div:nth-child(2)
                    display: flex
                    box-sizing: border-box
                    padding-top: 5px
                div:nth-child(3)
                    display: flex


    .section1-background
        height: 416px
    .services
        &__content
            width: 720px
            height: 208px
            flex-direction: row
        &__text-and-more
            width: 312px
            height: 194px
        &__text
            width: 312px
            height: 160px
        &__text::after
            white-space: pre
            content: "\0a \0a Мы успешно работаем с 1992 года и \0a заслужили репутацию надежного партнера."


    .brands-title-background
        .brands-title
            height: 56px
            width: 380px
            margin: auto 0 auto 24px
    .swiper
        .swiper-container
            height: 266px
            width: 720px
            margin: auto
            .swiper-wrapper
                width: 720px
                height: 160px
                display: flex
                flex-wrap: wrap
                margin-top: 24px
                margin-bottom: 24px
                .swiper-slide
                    width: 224px
                    margin-right: 24px
                .swiper-slide:nth-child(3)
                    margin-right: 0
                .swiper-slide:nth-child(6)
                    margin-right: 0
                .swiper-slide:nth-child(7)
                    display: none
                .swiper-slide:nth-child(8)
                    display: none
                .swiper-slide:nth-child(9)
                    display: none



@media (min-width: 1120px)
    .container
        max-width: 1120px

    header
        display: none

    .section1-background
        top: 0
        height: 535px
    .services
        padding-top: 42px
        &__h1
            margin-bottom: 106px
            h1
                margin-right: 450px
        &__blue-line-before-h1
            margin-right: 30px
        &__navigation-top
            display: flex
            justify-content: space-between
            width: 373px
            height: 40px
        &__navigation-top-button-1
            display: flex
            align-items: center
            justify-content: space-between
            height: 100%
            width: 173px
            p
                font-family: 'TT Lakes'
                font-weight: 500
                font-size: 16px
                line-height: 24px
                letter-spacing: -0.2px
                color: #1B1C21
            div
                display: flex
                align-items: center
                justify-content: center
        &__navigation-top-button-2
            display: flex
            align-items: center
            justify-content: space-between
            height: 100%
            width: 168px
            p
                font-family: 'TT Lakes'
                font-weight: 500
                font-size: 16px
                line-height: 24px
                letter-spacing: -0.2px
                color: #1B1C21
            div
                display: flex
                align-items: center
                justify-content: center
        &__content
            width: 1058px
            height: 307px
            align-items: flex-start
            flex-direction: row
        &__text-and-more
            width: 490px
            height: 198px
        &__text
            width: 490px
            height: 160px
        &__text::after
            white-space: pre
            content: "\0a \0a Мы успешно работаем с 1992 года и заслужили репутацию надежного \0a партнера, что подтверждает большое количество постоянных клиентов. \0a Мы гордимся тем, что к нам обращаются по рекомендациям и, в свою \0a очередь, советуют нас родным и близким."
        &__read-more
            width: 490px
        &__photo
            width: 532px
            height: 307px


    .brands-title-background
        .brands-title
            height: 56px
            width: 380px
            margin: auto 0 auto 24px
    .swiper
        .swiper-container
            height: 266px
            width: 1056px
            margin: auto
            .swiper-wrapper
                width: 1056px
                height: 160px
                display: flex
                flex-wrap: wrap
                margin-top: 24px
                margin-bottom: 24px
                .swiper-slide
                    margin-right: 32px
                .swiper-slide:nth-child(4)
                    margin-right: 0
                .swiper-slide:nth-child(8)
                    margin-right: 0
                .swiper-slide:nth-child(9)
                    display: none
            .swiper-readmore
                margin-bottom: 34px



    .services-navigation
        top: 90px
        width: 1063px
        height: 82x
        display: block
        margin-left: 5%