@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes-Bold.ttf");
  font-weight: 700;
}
.container {
  max-width: 320px;
  margin: 0 auto;
}

.pink-circle {
  width: 40px;
  height: 40px;
  background: #FF3E79;
  border-radius: 20px;
}

.pink-circle:hover {
  filter: grayscale(20%);
  cursor: pointer;
  transition: 0.5s;
}

.services-button {
  height: 40px;
  padding: 0 10px;
  background: rgba(255, 255, 255, 0);
  border: none;
  font-family: "TT Lakes";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7E7E82;
  font-weight: 500;
}

.active {
  border: 2px solid #B8FFEC;
  border-radius: 6px;
  background: #FFFFFF;
}

.big-text {
  font-family: "TT Lakes";
  letter-spacing: 0.2px;
  color: #1B1C21;
  font-weight: 500;
}

.hidden {
  visibility: hidden;
}

.absolute-burger {
  position: absolute;
  top: 0.1px;
  left: 10px;
}

.more {
  display: flex;
  justify-content: flex-start;
}
.more__img {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.more__text {
  font-family: "TT Lakes";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
}

.menu {
  box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2), -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
  display: none;
  width: 320px;
  height: 100%;
  left: 0px;
  position: absolute;
  z-index: 2;
  background: #FFFFFF;
}
.menu_active {
  display: block;
}
.menu__search {
  position: relative;
  top: 23px;
  left: 256px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu__elements {
  width: 222px;
  height: 420px;
  position: relative;
  top: 53px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu__element {
  display: flex;
  align-items: center;
  height: 32px;
  margin-left: 24px;
  font-family: "TT Lakes";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
}
.menu__element:hover {
  color: #7E7E82;
  cursor: pointer;
}
.menu__element:hover_active {
  color: #7E7E82;
  margin-left: 0;
}
.menu__blue-line-before-element {
  border-radius: 0 90px 90px 0;
  height: 32px;
  width: 4px;
  background: #41F6D7;
  margin-right: 20px;
}
.menu__navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  top: 268px;
  left: 24px;
  width: 196px;
  height: 124px;
}
.menu__navigation p {
  font-family: "TT Lakes";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
}
.menu__navigation h4 {
  font-family: "TT Lakes";
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  color: #1B1C21;
}
.menu__nav-butons {
  width: 152px;
  height: 40px;
  display: flex;
  justify-content: space-between;
}
.menu__nav-butons div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__language {
  position: relative;
  top: 328px;
  left: 24px;
  width: 87px;
  height: 24px;
  display: flex;
  justify-content: space-between;
}
.menu__language p {
  font-family: "TT Lakes";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
}
.menu__language p:hover {
  color: #7E7E82;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
}
header .head {
  z-index: 3;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 88px;
}
header .head__line-in-nav {
  display: none;
}
header .head__burger {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .head__burger div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 16px;
  width: 18px;
}
header .head__burger div div {
  height: 2px;
  width: 10px;
  background: #FFFFFF;
  border-radius: 1px;
}
header .head__burger div div:first-child {
  width: 18px;
  transition: 0.5s;
}
header .head__burger div div:last-child {
  width: 14px;
  transition: 0.5s;
}
header .head__burger-line-change-1 {
  position: relative;
  transform: rotate(45deg);
  top: 7px;
  transition: 0.5s;
}
header .head__burger-line-change-2 {
  visibility: hidden;
}
header .head__burger-line-change-3 {
  position: relative;
  transform: rotate(-45deg);
  padding-left: 4px;
  bottom: 7px;
  transition: 0.5s;
}
header .head__logo {
  height: 50.81px;
  width: 96.55px;
}
header .head__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 118px;
}
header .head__navigation div {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .head__navigation div:nth-child(1) {
  display: none;
}
header .head__navigation div:nth-child(2) {
  display: none;
}
header .head__navigation div:nth-child(3) {
  display: none;
}
header .head__line-in-nav {
  height: 32px;
  width: 2px;
  background: #EAEAEA;
  border-radius: 1px;
}
header .head__shadow {
  position: absolute;
  top: 87px;
  height: 1px;
  width: 320px;
  background: #D9FFF5;
}

.section1-background {
  background: #F8F8F8;
  width: 100%;
  height: 509px;
  position: fixed;
  top: 88px;
}

.services {
  padding-top: 24px;
}
.services__h1 {
  display: flex;
  width: 100%;
  height: 40px;
  margin-bottom: 88px;
}
.services__h1 h1 {
  font-family: "TT Lakes";
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  font-weight: 700;
}
.services__blue-line-before-h1 {
  border-radius: 0 90px 90px 0;
  height: 40px;
  width: 4px;
  background: #41F6D7;
  margin-right: 16px;
}
.services__navigation-top {
  display: none;
}
.services__content {
  width: 100%;
  height: 322px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.services__text-and-more {
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.services__text {
  display: block;
  width: 288px;
  height: 90px;
  font-size: 14px;
  line-height: 18px;
}
.services__read-more {
  width: 288px;
}
.services__photo {
  width: 320px;
  height: 176px;
}

.services-navigation {
  position: absolute;
  top: 176px;
  margin-left: 10%;
  display: flex;
  justify-content: space-between;
  width: 1158px;
  height: 40px;
}

@media (min-width: 768px) and (max-width: 1119px) {
  .container {
    max-width: 768px;
  }
  header .head {
    justify-content: center;
  }
  header .head__burger {
    margin-left: 24px;
    margin-right: 20px;
  }
  header .head__line-in-nav {
    display: block;
    margin-right: 20px;
  }
  header .head__logo {
    margin-right: 250px;
  }
  header .head__navigation {
    width: 249px;
  }
  header .head__navigation div:nth-child(1) {
    display: flex;
  }
  header .head__navigation div:nth-child(2) {
    display: flex;
    box-sizing: border-box;
    padding-top: 5px;
  }
  header .head__navigation div:nth-child(3) {
    display: flex;
  }
  .section1-background {
    height: 416px;
  }
  .services__content {
    width: 720px;
    height: 208px;
    flex-direction: row;
  }
  .services__text-and-more {
    width: 312px;
    height: 194px;
  }
  .services__text {
    width: 312px;
    height: 160px;
  }
  .services__text::after {
    white-space: pre;
    content: "\a\aМы успешно работаем с 1992 года и \aзаслужили репутацию надежного партнера.";
  }
}
@media (min-width: 1120px) {
  .container {
    max-width: 1120px;
  }
  header {
    display: none;
  }
  .section1-background {
    top: 0;
    height: 535px;
  }
  .services {
    padding-top: 42px;
  }
  .services__h1 {
    margin-bottom: 106px;
  }
  .services__h1 h1 {
    margin-right: 450px;
  }
  .services__blue-line-before-h1 {
    margin-right: 30px;
  }
  .services__navigation-top {
    display: flex;
    justify-content: space-between;
    width: 373px;
    height: 40px;
  }
  .services__navigation-top-button-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 173px;
  }
  .services__navigation-top-button-1 p {
    font-family: "TT Lakes";
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
  }
  .services__navigation-top-button-1 div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .services__navigation-top-button-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 168px;
  }
  .services__navigation-top-button-2 p {
    font-family: "TT Lakes";
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
  }
  .services__navigation-top-button-2 div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .services__content {
    width: 1058px;
    height: 307px;
    align-items: flex-start;
    flex-direction: row;
  }
  .services__text-and-more {
    width: 490px;
    height: 198px;
  }
  .services__text {
    width: 490px;
    height: 160px;
  }
  .services__text::after {
    white-space: pre;
    content: "\a\aМы успешно работаем с 1992 года и заслужили репутацию надежного \aпартнера, что подтверждает большое количество постоянных клиентов. \aМы гордимся тем, что к нам обращаются по рекомендациям и, в свою \aочередь, советуют нас родным и близким.";
  }
  .services__read-more {
    width: 490px;
  }
  .services__photo {
    width: 532px;
    height: 307px;
  }
  .services-navigation {
    top: 90px;
    width: 1063px;
    height: 82x;
    display: block;
    margin-left: 6%;
  }
}/*# sourceMappingURL=style.css.map */